.nav-item {
    margin-right: 50px;
    display: inline-block;
    position: relative;
}
.nav-link:hover {
    background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
    color: white !important;
}
.p1 {
    margin-left: 20px;
    margin-top: 100px;
    font-family: "Basic";
    font-style: normal;
    font-weight: 400;
    font-size: 97px;
    line-height: 122px;
    color: #020e35;
}
.img1 {
    width: 115%;
    height: 500px;
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 5px;
}
.popup_button {
    width: 140px;
    height: 40px;
    margin-left: 20px;
    background: linear-gradient(270deg, #8c32f0 0%, #e73587 100%);
    text-align: center;
    color: white;
}
.popup .container .row {
    padding: 50px;
}
.oval {
    margin-top: -200px;
}
